*{
    padding: 0;
    margin: 0;
    font-family:  sans-serif;
    color: white;
}
body{
    background-color: #001;
}
.container{
    display: flex;
}
.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
    flex-shrink: 0;
}
.img img{
    width: 100%;
    height: 100%;
    
}
.profile{
    display: flex;
    gap: 21px;
    align-items: center;
}
.profile h2{
    text-transform: capitalize;
}


.menu{
    background-color: rgb(63, 2, 63);
    
    height: 100vh;
    padding: 20px;
    position: relative;
    width: 54px;
    overflow: hidden;
    transition: .5s;
    
}
.menu:hover{
    width: 260px;
}
ul{
    list-style: none;
    
}
ul li a{
    display: inline-block;
    text-decoration: none;
    transition: .5s;
    border-radius: 10px;
    
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
ul li a:hover ,.active{
    background-color: rgb(44, 1, 44);

}
.log{
    position: absolute;
    
    
    bottom: 10%;
    width: 88%;
    border-radius: 10px;
    align-items: center;
    
    
}
.log a{
    background-color: brown;
}
ul li a i{
    font-size: 25px;
}
.content{
width: 100%;
margin: 10px;
}
.head{
    background-color: rgb(136, 5, 136);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px 0;
}
.data-info{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    height: 150px;
    background-color:  rgb(63, 2, 63);
    width: 150px;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box:hover,td:hover{
    background-color:rgb(44, 1, 44) ;
}
.data-info .box i{
    font-size: 35px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 5px;
}
th ,td{
    background-color:rgb(63, 2, 63);
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    

}
th{
    background-color:rgb(136, 5, 136) ;
}